.list {
    height: 510px;
    overflow-y: scroll;
}
#list::-webkit-scrollbar {
    width: 2px;
}
#list::-webkit-scrollbar-thumb {
    background-color: #b65adc;
    border-radius: 10px;
}
#list::-webkit-scrollbar-track {
    background-color: white;
}
.content_song {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 0;
    border-radius: 5px;
}

.song-prefix {
    display: flex;
    align-items: center;
    width: 15%;
}

.song-prefix .number {
    min-width: 38px;
    -webkit-text-stroke: 1.5px var(--text-primary);
    opacity: 0.7;
    font-size: 32px;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
}

.song_image {
    position: relative;
    margin-left: 10px;
    height: 100px;
    width: 100px;
    cursor: pointer;
}
.song_image a {
    display: block;
    height: 100%;
}
.song_image a img {
    border-radius: 5px;
}
.modal-play {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    border-radius: 5px;
}
.modal-play svg {
    width: 100%;
    height: 50%;
    margin-top: 25%;
}

.song_image:hover .modal-play {
    display: block;
}
.song_des {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    height: 100%;
    margin-top: 28px; */
    margin-left: 10px;
    width: 300px;
}
.song_des-singer,
.song_des-title {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.chart_content-song{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-player);
}
.playList_nav {
    color: var(--text-color);
    font-weight: var(--fweight-text);
    margin-top: 5px;
    padding: 25px 0;
    border-top: 1px solid var(--text-color-hover);
}

.playList_nav-showAll a span:hover {
    cursor: pointer;
    color: var(--text-color-hover);
}
.playList_nav-showAll:hover svg {
    fill: var(--text-color-hover);
}

.playList-create {
    width: 100%;
    height: 100%;
    min-height: 206px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(33deg, #5a1eae -7%, #ce267a 117%);
    border-radius: 5px;
}
.playList-create-btn {
    height: 20%;
    width: 20%;
}
.play-list-thumbnail {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.play-list-thumbnail a {
    display: block;
    top: 0;
    width: 100%;
}
.play-list-thumbnail a img {
    width: 100%;
    transition: all 0.3s ease-out;
}
.play-list-thumbnail:hover img {
    transform: scale(1.1);
}
.play-list-modal {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    fill: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.play-list-modal-play {
    width: 100%;
    height: 30%;
}
.play-list-thumbnail:hover .play-list-modal {
    display: flex;
}

.play-list-des {
    color: white;
    font-weight: var(--fweight-text);
    margin-top: 10px;
    text-align: center;
}
.play-list-des .play-list-title span {
    color: white;
}
.play-list-des .play-list-title span:hover {
    color: var(--text-color-hover);
}
