<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>filter.loginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <servlet-name>loginController</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>discoverController</servlet-name>
        <servlet-class>controller.user.discoverController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>overviewController</servlet-name>
        <servlet-class>controller.user.overviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>songsController</servlet-name>
        <servlet-class>controller.user.songsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controller.user.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerController</servlet-name>
        <servlet-class>controller.user.registerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>controller.user.logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>zingChartController</servlet-name>
        <servlet-class>controller.user.zingChartController</servlet-class>
        <init-param>
            <param-name>idType</param-name>
            <param-value>1</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>searchController</servlet-name>
        <servlet-class>controller.user.searchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>playListController</servlet-name>
        <servlet-class>controller.user.playListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>playlistPersonalController</servlet-name>
        <servlet-class>controller.user.playlistPersonalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadSongPlaylistController</servlet-name>
        <servlet-class>controller.user.loadSongPlaylistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateSongController</servlet-name>
        <servlet-class>controller.user.updateSongController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePlaylistController</servlet-name>
        <servlet-class>controller.user.updatePlaylistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateSongPlaylistController</servlet-name>
        <servlet-class>controller.user.updateSongPlaylistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadSongPlaylistUserController</servlet-name>
        <servlet-class>controller.user.loadSongPlaylistUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLoginController</servlet-name>
        <servlet-class>controller.admin.adminLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dashboardController</servlet-name>
        <servlet-class>controller.admin.dashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>discoverController</servlet-name>
        <url-pattern>/kham-pha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>overviewController</servlet-name>
        <url-pattern>/personal/tong-quan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>songsController</servlet-name>
        <url-pattern>/personal/bai-hat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerController</servlet-name>
        <url-pattern>/login/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/login/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>zingChartController</servlet-name>
        <url-pattern>/zing-chart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchController</servlet-name>
        <url-pattern>/tim-kiem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>playListController</servlet-name>
        <url-pattern>/play-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>playlistPersonalController</servlet-name>
        <url-pattern>/personal/play-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadSongPlaylistController</servlet-name>
        <url-pattern>/play-list/all-song</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateSongController</servlet-name>
        <url-pattern>/update-song</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePlaylistController</servlet-name>
        <url-pattern>/update-playlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateSongPlaylistController</servlet-name>
        <url-pattern>/update-song-playlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadSongPlaylistUserController</servlet-name>
        <url-pattern>/personal/play-list/all-song</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLoginController</servlet-name>
        <url-pattern>/admin/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dashboardController</servlet-name>
        <url-pattern>/dash-board</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
</web-app>
