* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content_music {
    margin-top: 20px;
    color: #fff;
}
.content_song {
}
.content_song .song_image img {
    transition: transform linear 0.3s;
    width: 100%;
}
.song_image {
    position: relative;
    cursor: pointer;
    height: 90%;
}
.song_image a {
    display: block;
    height: 100%;
    overflow: hidden;
}

.song_des {
    text-align: center;
    font-weight: 700;
}
.song_des-title a {
    text-decoration: none;
    color: #fff;
}
.song_des-title span:hover {
    color: var(--text-color-hover);
}
.song_modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}
.song_image:hover img {
    transform: scale(1.08);
}
.song_image:hover .song_modal {
    display: block;
}
.song_modal-play {
    width: 20%;
    height: 20%;
    background-color: transparent;
    margin: 40%;
    fill: white;
}
.now-playing {
    position: fixed;
    z-index: 999;
    bottom: 0;
    background-color: var(--playing-bg);
    height: 100px;
    width: 100%;
    border-top: 1px solid var(--border-player);
    display: flex;
    align-items: center;
    padding: 5px 12px;
}

.playing-left {
    width: 25%;
}

.media {
    display: flex;
    align-items: center;
}
.media-left {
    position: relative;
    width: 90px;
    height: 100%;
    cursor: pointer;
}

.media-left a {
    display: block;
    width: 90%;
}
.media-left a img {
    width: 100%;
    border-radius: 10px;
}

.media-left .zoom {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 90%;
    display: none;
    align-items: center;
}
.media-left .zoom svg {
    height: 50%;
}

.media-left:hover .zoom {
    display: flex;
}
.media-content {
    flex: 1;
}
.media-content a {
    color: var(--text-color);
    text-decoration: none;
}
.media-title a:hover {
    color: var(--text-color-hover);
}
.media-content .media-title {
    font-weight: var(--fweight-text);
}
.media-right {
    margin-right: 40px;
}
.media-right button {
    background-color: transparent;
    border: none;
    width: 30px;
    height: 20px;
    margin-left: 10px;
}
.media-right button svg {
    width: 100%;
    height: 100%;
}
.playing-center {
    width: 50%;
    margin: 0 20px;
}
.playing-center .player-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
.playing-center .player-controls a {
    display: block;
    height: 30px;
    width: 50px;
}
.play-control {
    fill: #fff;
    height: 100%;
    width: 100%;
}
.player-controls .pause {
    display: none !important;
}
.progress {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: #b65adc;
    cursor: pointer;
}
.playing-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
}

.playing-right a {
    height: 7%;
    width: 7%;
    margin-right: 10px;
}

.sound-control {
    fill: #fff;
    width: 100%;
}
