* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #170f23;
    --text-color: #fff;
    --text-color-hover: #b65adc;
    --playing-bg: rgb(18 12 28 / 1);
    --border-player: hsla(0, 0%, 100%, 0.1);
    --fweight-text: 700;
    --boder-color: hsla(0, 0%, 100%, 0.05);
    --layout-bg: #170f23;
}

.active,
.active p {
    color: var(--text-color-hover) !important;
}

body::-webkit-scrollbar {
    width: 2px;
}
body::-webkit-scrollbar-thumb {
    background-color: #fff;
    height: 10px;
}
::-webkit-scrollbar-track {
    background-color: var(--main-color);
}
button{
    border: none;
    background-color: transparent;
}
.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}
.navbar {
    background-color: var(--main-color);
    border-bottom: 1px solid var(--border-player);
}

.header__logo {
    width: 50px;
    height: 50px;
}

.nav-link {
    color: white;
}
.nav-item:hover .nav-link {
    color: var(--text-color-hover);
}

.log {
    display: flex;
    align-items: center;
    height: 40px;
}
.log .none {
    display: none;
}
.log a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}
.log a:hover {
    color: var(--text-color-hover);
}
.song_image a img {
    width: 100%;
    height: 100%;
}
.form-control {
    width: 300px;
}
.content {
    padding-top: 77px;
    background-color: var(--main-color);
}
.footer {
    margin-bottom: 0;
}
.footer-text {
    background-color: var(--main-color);
    color: var(--text-color);
    padding-bottom: 50px;
}

.now-playing {
    position: fixed;
    z-index: 999;
    bottom: 0;
    background-color: var(--playing-bg);
    height: 100px;
    width: 100%;
    border-top: 1px solid var(--border-player);
    align-items: center;
    padding: 5px 12px;
    display: none;
}

.playing-left {
    width: 25%;
}

.media {
    display: flex;
    align-items: center;
}
.media-left {
    position: relative;
    width: 90px;
    height: 100%;
    cursor: pointer;
}

.media-left button {
    display: block;
    width: 90%;
}
.media-left button img {
    width: 100%;
    border-radius: 10px;
}

.media-left .zoom {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 90%;
    display: none;
    align-items: center;
}
.media-left .zoom svg {
    height: 50%;
}

.media-left:hover .zoom {
    display: flex;
}
.media-content {
    flex: 1;
}
.media-content span {
    color: var(--text-color);
}
.media-title span:hover {
    cursor: pointer;
    color: var(--text-color-hover);
}
.media-content .media-title {
    font-weight: var(--fweight-text);
}
.media-right {
      margin-right: 40px;
    display: flex;
    align-items: center;
    height: 80px;
}
.media-right button {
       background-color: transparent;
    border: none;
     width: 50px; 
    height: 50px;
    margin-left: 10px;
}

.playing-center {
    width: 50%;
    margin: 0 20px;
}
.playing-center .player-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
.playing-center .player-controls div {
    height: 30px;
    width: 50px;
}
.play-control {
    fill: #fff;
    height: 100%;
    width: 100%;
}
.pause {
    display: none;
}
.play,
.pause {
    cursor: pointer;
}
.progress-sound,
.progress {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    cursor: pointer;
}
.progress-sound::-webkit-slider-thumb,
.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: #b65adc;
    cursor: pointer;
}
.playing-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
}

.playing-right a {
    height: 7%;
    width: 7%;
    margin-right: 10px;
}
.player-progress :hover {
    cursor: pointer;
}
.sound-control {
    fill: #fff;
    width: 100%;
}
.activeBtn svg {
    fill: var(--text-color-hover);
}
.sound-control:hover,
.next:hover svg,
.pause:hover svg,
.random:hover svg,
.prev:hover svg,
.repeat:hover svg {
    fill: var(--text-color-hover);
}
.un-mute,
.mute {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.mute {
    display: none;
}
.modal-body ul{
    padding-left: 0;
}
.modal-body ul li{
    word-wrap: normal;
    text-align: center;
    list-style: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 0 ;
    margin-bottom: 10px;
}
.modal-body ul li:hover{
    color: #fff;
    background-color: var(--text-color-hover);
}